# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.sqlite
*.sqlite3
dex_bot.db
database.db

# Logs
*.log
logs/

# System
.DS_Store
Thumbs.db

*/tonconnect_storage.json

tmp_lib/ tmp_lib/
*/test_bd.py 